.basic-layout {
  margin: 0;

  .ant-layout {
    min-height: 100vh;
  }

  .ant-layout-header {
    padding: 0;
    background-color: #fff;
  }

  .header-logo {
    height: 64px;
    line-height: 64px;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    overflow: hidden;
    background-color: #00344c;
    cursor: pointer;

    .icon {
      color: #f44336;
    }

    .title {
      margin-left: 10px;
    }

    &.collapsed {
      .icon {
        font-size: 28px;
      }

      .title {
        display: none;
      }
    }
  }

  .layout-header {
    padding: 0 30px;
    display: flex;
    justify-content: space-between;

    .user-menu {
      .icon {
        width: 36px;
        height: 36px;
        line-height: 36px;
        border-radius: 36px;
        text-align: center;
        background: #eee;
      }

      .username {
        margin-left: 10px;
      }
    }
  }
}

.menu-action>span {
  margin-left: 10px;
}